<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reward</title>
</head>
<body>
    <h1>Sveikinu, laimėjai!</h1>
    <p>Pasirink, kokio prizo nori:</p>
    <form action="/claim_reward" method="post">
        <button type="submit" name="reward" value="anecdotes">Anekdotas</button>
        <button type="submit" name="reward" value="fun_facts">Įdomus faktas</button>
        <button type="submit" name="reward" value="surprise">Siurprizas</button>
    </form>
</body>
</html>
